<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Auth</title>
</head>
<body>

    <h1>Log In</h1>
    <form action="/login" method="post" accept-charset="utf-8">
        <input type="email" name="email" placeholder="email" required />
        <input type="password" name="password" placeholder="password" required />
        <button type="submit">submit</button>
    </form>

</body>
</html>