<h1> Register Page </h1>

<form action="/register" method="post">
    <div>
        <label>name</label>
        <input name="name" type="name" placeholder="username" required />
    </div>
    <div>
        <label>email</label>
        <input name="email" type="email" placeholder="email" required />
    </div>
    <div>
        <label>password</label>
        <input name="password" type="password" placeholder="password" required />
    </div>
    <button type="submit">Submit</button>
</form>

<a href="/login">login</a>