<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>AUTH</title>
        
        <style>
            
            body {
                width: 100vw;
                min-height: 100vh;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: 5rem;
            }
            
        </style>
        
    </head>
    <body>
        
        <h1>logged in as root</h1>
        
        {{data}}
        
        <a href="/logout"> log out</a>
        
    </body>
</html>