<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>AUTH</title>
    <link rel="stylesheet" href="./css/main.css" />

</head>
<body>

    <h1>Sign Up Account</h1>
    <form class="form" action="/signup" method="post">
        <input class="input" name="username" type="text" placeholder="username" required />
        <input class="input" name="email" type="email" placeholder="email address" required />
        <input class="input" name="password" type="password" placeholder="password" required />
        <input class="input" name="confirm_password" type="password" placeholder="confirm password" required />
        <div class="container">
            <button class="button" type="submit">submit</button>
            <button class="button" id="login">log in</button>
        </div>
    </form>
    
    <script>
        document.getElementById('login').addEventListener('click' , () => {
            window.location = "/login";
        });
    </script>

</body>
</html>