* ,
*::after ,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 3rem auto 2rem auto;
}

.form {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 3rem;
    border: 0.1rem solid lightgrey;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    outline: 0;
    
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button {
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.4rem;
    color: white;
    background: black;
    transition: 0.5s ease-in-out;
    margin: 2rem 0;
}

.button:focus {
    outline: 0;
}

.button:active {
    color: black;
    background: #ccc;
}