@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::after ,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.08rem;
    word-spacing: 0.2rem;
}

body {
    width: 100vw;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dde1e7;
}

h1 {
    margin: 3rem auto 2rem auto;
}

.form {
    width: 90vw;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    background: #dde1e7;
    border-radius: 1rem;
    box-shadow: -0.3rem -0.3rem 0.7rem #ffffff73 , 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}

.input {
    width: 90%;
    height: 3rem;
    border: 0.1rem solid lightgrey;
    border-radius: 0.5rem;
    margin: 0.7rem auto;
    padding: 0.5rem 1rem;
    outline: 0;
    background: #dde1e7;
    font-weight: bold;
    box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73 , inset 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button {
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.4rem;
    color: black;
    background: #dde1e7;
    transition: 0.5s ease-in-out;
    margin: 2rem 0;
    font-weight: bold;
    box-shadow: -0.3rem -0.3rem 0.7rem #ffffff93 , 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}

.button:focus {
    outline: 0;
}

.button:active {
    box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73 , inset 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}